openapi: 3.0.3
info:
  title: Admin API
  version: 0.3.0
  description: |
    API contract for routes currently wired in
    `backend/infrastructure/lib/api-stack.ts`.

    The current API Gateway deployment exposes:
    - `GET /health`
    - `GET /v1/admin/geographic-areas`
    - `GET|POST /v1/admin/locations`
    - `POST /v1/admin/locations/geocode`
    - `GET|PUT|PATCH|DELETE /v1/admin/locations/{id}`
    - `GET /v1/admin/users`
    - `GET /v1/admin/instructors`
    - `GET /v1/admin/audit-logs` (optional `table`, `record_id`, `user_id`, `email`, `action`, `since`, `cursor`, `limit`)
    - `GET /v1/admin/audit-logs/{id}`
    - `GET|POST /v1/admin/api-keys` (create returns plaintext `api_token` once)
    - `GET|DELETE /v1/admin/api-keys/{id}` (`DELETE` revokes the token)
    - `GET|POST /v1/admin/services`
    - `GET /v1/admin/services/instances`
    - `GET|PUT|PATCH|DELETE /v1/admin/services/{id}`
    - `GET /v1/admin/services/{id}/discount-code-usage-summary`
    - `POST /v1/admin/services/{id}/cover-image`
    - `GET|POST /v1/admin/services/{id}/instances`
    - `GET|PUT|DELETE /v1/admin/services/{id}/instances/{instanceId}`
    - `GET|POST /v1/admin/services/{id}/instances/{instanceId}/enrollments`
    - `PATCH|DELETE /v1/admin/services/{id}/instances/{instanceId}/enrollments/{enrollmentId}`
    - `GET|POST /v1/admin/discount-codes`
    - `PUT|DELETE /v1/admin/discount-codes/{id}`
    - `GET|POST /v1/admin/completion-certificates`
    - `POST /v1/admin/completion-certificates/preview`
    - `GET|DELETE /v1/admin/completion-certificates/{id}`
    - `GET /v1/admin/completion-certificates/{id}/pdf`
    - `POST /v1/admin/completion-certificates/{id}/void`
    - `GET|POST /v1/admin/calendar/manual-blocks` (GET requires `purpose`, `from`, `to`)
    - `GET|PATCH|DELETE /v1/admin/calendar/manual-blocks/{id}`
    - `GET|POST /v1/admin/tags` (optional `include_archived`, `archived_only`)
    - `GET|PATCH|DELETE /v1/admin/tags/{id}` (DELETE returns JSON with `deleted` and `usage_count`)
    - `GET /v1/admin/contacts/tags`
    - `GET /v1/admin/contacts/search`
    - `POST /v1/admin/contacts/mailchimp-sync-run`
    - `POST /v1/admin/contacts/mailchimp-sync-orphans`
    - `GET /v1/admin/contacts/mailchimp-sync-status`
    - `GET|POST /v1/admin/contacts`
    - `GET|PATCH|DELETE /v1/admin/contacts/{id}`
    - `GET|POST /v1/admin/contacts/{id}/notes`
    - `PATCH|DELETE /v1/admin/contacts/{id}/notes/{noteId}`
    - `GET /v1/admin/contacts/{id}/services`
    - `GET /v1/admin/families/picker`
    - `GET|POST /v1/admin/families`
    - `GET|PATCH|DELETE /v1/admin/families/{id}`
    - `GET /v1/admin/families/{id}/services`
    - `POST /v1/admin/families/{id}/members`
    - `PATCH|DELETE /v1/admin/families/{id}/members/{memberId}`
    - `GET /v1/admin/organizations/picker`
    - `GET|POST /v1/admin/organizations`
    - `GET|PATCH|DELETE /v1/admin/organizations/{id}`
    - `GET /v1/admin/organizations/{id}/services`
    - `POST /v1/admin/organizations/{id}/members`
    - `PATCH /v1/admin/organizations/{id}/members/{memberId}`
    - `DELETE /v1/admin/organizations/{id}/members/{memberId}`
    - `GET /v1/admin/forms` (lists form slugs with answer counts from DynamoDB)
    - `GET|DELETE /v1/admin/forms/{form_slug}/answers` (`DELETE` removes all stored answers for the form)
    - `GET /v1/admin/forms/{form_slug}/answers/export` (CSV export of all answers for the form)
    - `GET /v1/admin/polls` (lists poll slugs with answer counts from DynamoDB)
    - `GET|DELETE /v1/admin/polls/{poll_slug}/answers` (`DELETE` removes all stored answers for the poll)
    - `GET /v1/admin/polls/{poll_slug}/answers/export` (CSV export of all answers for the poll)
    - `GET|POST /v1/admin/expenses`
    - `POST /v1/admin/expenses/import-from-bulk-pdf` (returns **202** with a job id; poll `GET /v1/admin/expenses/bulk-import-jobs/{job_id}` until `succeeded`, `succeeded_with_errors`, or `failed`)
    - `GET /v1/admin/expenses/bulk-import-jobs` (creator-scoped list of recent jobs)
    - `GET|DELETE /v1/admin/expenses/bulk-import-jobs/{job_id}` (`DELETE` removes the job record for the creator; it does not delete expenses created by the job)
    - `GET|PATCH|DELETE /v1/admin/expenses/{id}`
    - `POST /v1/admin/expenses/{id}/cancel`
    - `POST /v1/admin/expenses/{id}/mark-paid`
    - `POST /v1/admin/expenses/{id}/reparse`
    - `POST /v1/admin/expenses/{id}/amend`
    - `GET /v1/admin/billing/export`
    - `GET|POST /v1/admin/billing/payments` (list supports optional `?invoice_id=` to return
      payments with an allocation to that invoice; `POST` creates either a refund row
      (`direction: refund`) or a manual inbound customer payment (`direction: inbound` + `enrollmentId`))
    - `GET|PATCH|DELETE /v1/admin/billing/payments/{id}` (`GET` returns payment detail including `allocationInvoices` and `unappliedAmount`; `PATCH` updates manual inbound rows without a Stripe PaymentIntent; enrollment is immutable; succeeded rows allow method and external reference only; `DELETE` removes eligible orphan inbound payments)
    - `GET /v1/admin/billing/payments/{id}/unapplied`
    - `POST /v1/admin/billing/payments/{id}/confirm`
    - `GET /v1/admin/billing/enrollments/recent-for-invoicing`
    - `GET|POST /v1/admin/billing/invoices` (GET optional `status`, `currency`, `cursor`, `limit`; POST is either enrollment-based draft (`draftKind: enrollment_merge`, `enrollmentIds`, `currency` optional when derivable) or customized draft (`draftKind: customized_manual`, `billTo`, `currency`, `lines`); see request schemas)
    - `GET|DELETE /v1/admin/billing/invoices/{id}` (`DELETE` removes **draft** invoices only)
    - `GET /v1/admin/billing/invoices/{id}/pdf`
    - `POST /v1/admin/billing/invoices/{id}/issue`
    - `POST /v1/admin/billing/invoices/{id}/void`
    - `POST /v1/admin/billing/invoices/{id}/email`
    - `POST /v1/admin/billing/dashboard/resolve-bill-to-primary-contacts` (bulk lookup of
      primary CRM contact ids for family and organisation ids; used to roll up issued invoice
      totals to main contacts in admin dashboard spend rankings)
    - `POST /v1/admin/billing/allocations`
    - `GET|POST /v1/admin/leads`
    - `GET|PATCH /v1/admin/leads/{id}`
    - `POST /v1/admin/leads/{id}/notes`
    - `GET /v1/admin/leads/analytics`
    - `GET /v1/admin/leads/export`
    - `GET /v1/admin/whatsapp/conversations`
    - `GET /v1/admin/whatsapp/conversations/{id}/messages`
    - `GET|POST /v1/admin/whatsapp/import-jobs`
    - `GET /v1/admin/whatsapp/import-jobs/{id}`
    - `GET /v1/admin/meta/conversations`
    - `GET /v1/admin/meta/conversations/{id}/messages`
    - `GET|POST /v1/admin/meta/import-jobs`
    - `GET /v1/admin/meta/import-jobs/{id}`
    - `GET|POST /v1/admin/assets`
    - `GET|PUT|PATCH|DELETE /v1/admin/assets/{id}`
    - `POST /v1/admin/assets/{id}/content/init`
    - `POST /v1/admin/assets/{id}/content/complete`
    - `GET|POST /v1/admin/assets/{id}/grants`
    - `DELETE /v1/admin/assets/{id}/grants/{grantId}`
    - `GET|POST|DELETE /v1/admin/assets/{id}/share-link`
    - `POST /v1/admin/assets/{id}/share-link/rotate`
    - `GET /v1/user/assets`
    - `GET /v1/user/assets/{id}/download`

servers:
  - url: https://api.evolvesprouts.com
    description: Production custom domain (when configured)
  - url: https://{restApiId}.execute-api.{region}.amazonaws.com/prod
    description: API Gateway invoke URL
    variables:
      restApiId:
        default: example
      region:
        default: ap-southeast-1

paths:
  /health:
    get:
      summary: Health check
      description: Returns backend health status and dependency checks.
      security:
        - SigV4Auth: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/admin/assets:
    get:
      summary: List admin assets
      description: Admin-only route for listing managed assets.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Case-insensitive match on title, file name, or resource key.
        - name: visibility
          in: query
          required: false
          schema:
            type: string
            enum: [public, restricted]
        - name: asset_type
          in: query
          required: false
          schema:
            type: string
            enum: [guide, video, pdf, document]
        - name: tag_name
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
          description: >
            When set, return only assets that have this tag (case-insensitive name match).
            The tag must be linked to at least one asset that matches the optional asset_type filter.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create admin asset
      description: Admin-only route for creating an asset.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "201":
          description: Asset create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update admin asset
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetRequest"
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Partially update admin asset
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateAssetRequest"
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Asset deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/content/init:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    post:
      summary: Begin admin asset file replacement
      description: >
        Step 1 of 2 for replacing the binary stored for an asset while keeping the same asset id.
        Returns a presigned upload URL for a new S3 key under `assets/{id}/...`. Call
        `POST /v1/admin/assets/{id}/content/complete` after the client uploads to that URL.
        Not allowed when the asset has the `expense_attachment` tag (400). The presigned PUT binds
        `Content-Type: application/pdf` regardless of optional `content_type` in the body.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitAssetContentReplaceRequest"
      responses:
        "200":
          description: Presigned upload details and pending object key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitAssetContentReplaceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/content/complete:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    post:
      summary: Complete admin asset file replacement
      description: >
        Step 2 of 2: verifies the object exists at `pending_s3_key`, updates the asset to point at it,
        deletes the previous S3 object, and returns the updated asset. The `pending_s3_key` must be
        the value returned by `POST .../content/init` for this asset id. Not allowed when the asset
        has the `expense_attachment` tag (400).
        `file_name` must match the filename embedded in `pending_s3_key` after server-side sanitization
        (same rules as init). The object name segment must begin with a standard UUID prefix
        (`xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-`) from init. Stored `content_type` is always
        `application/pdf`; the uploaded object's S3 Content-Type and size are validated on complete
        (max 50 MiB). This call is not idempotent across different `pending_s3_key` values: repeating
        complete with a stale key after a successful replace returns 400. Concurrent replaces for the
        same asset are last-writer-wins; earlier pending keys may become orphans if never completed.
        BadRequest responses may include `field` values such as `pending_s3_key`, `file_name`,
        `content_type`, or `asset` depending on the failure.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteAssetContentReplaceRequest"
      responses:
        "200":
          description: Updated asset after successful replacement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: List asset grants
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Grant list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create asset grant
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetGrantRequest"
      responses:
        "201":
          description: Grant create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants/{grantId}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
      - $ref: "#/components/parameters/GrantId"
    delete:
      summary: Delete asset grant
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Grant deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/share-link:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get stable asset share link
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Existing share link returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Get or create stable asset share link
      security:
        - AdminBearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetShareLinkPolicyRequest"
      responses:
        "200":
          description: Existing share link returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "201":
          description: Share link created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Revoke stable asset share link
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Share link revoked.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/share-link/rotate:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    post:
      summary: Rotate stable asset share link
      security:
        - AdminBearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetShareLinkPolicyRequest"
      responses:
        "200":
          description: Share link rotated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/geographic-areas:
    get:
      summary: List geographic areas
      description: |
        Returns geographic areas used for address/location selection.
        Use `parent_id` to fetch direct children, or `flat=true` to return a
        flattened tree.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: parent_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: flat
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Geographic area list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeographicAreaListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/locations:
    get:
      summary: List locations
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: area_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on location name or address.
          schema:
            type: string
            maxLength: 500
        - name: exclude_addresses
          in: query
          required: false
          description: |
            When `true`, omit locations linked as the saved venue for a non-archived
            family or organisation (so Services → Venues lists only service-oriented
            venues). Partner organisations are still included when they use the same
            location row; those rows remain visible with partner lock metadata.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Location list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLocationRequest"
      responses:
        "201":
          description: Location create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/locations/geocode:
    post:
      summary: Geocode a venue address
      description: |
        Resolves latitude and longitude using OpenStreetMap's public geocoder via
        the AWS HTTP proxy. The free-text query uses the submitted address with
        unit/floor prefixes removed through the first comma-separated segment
        that contains ``/F`` (case-insensitive), e.g. ``G/F`` or ``5/F``. District
        and country names from the
        geographic area are not appended. The ``countrycodes`` query parameter is
        built from the root area ISO code plus the sovereign country row's code
        when ``sovereign_country_id`` is set (see ``GET /v1/admin/geographic-areas``).
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeocodeLocationRequest"
      responses:
        "200":
          description: Geocoding result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeLocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Geocoding provider or proxy error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Geocoding is not configured (for example missing proxy or headers).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/locations/{id}:
    parameters:
      - $ref: "#/components/parameters/LocationId"
    get:
      summary: Get location
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Location response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLocationRequest"
      responses:
        "200":
          description: Location update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Partially update location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateLocationRequest"
      responses:
        "200":
          description: Location update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete location
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Location deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Location is linked to an active partner organisation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/users:
    get:
      summary: List admin users
      description: Returns users in the admin Cognito group for assignee selection.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Admin user list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/instructors:
    get:
      summary: List instructor users
      description: Returns users in the instructor Cognito group for service instance assignment.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Instructor user list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/audit-logs:
    get:
      summary: List audit log entries
      description: >
        Returns database audit history (trigger- and application-sourced rows in
        `audit_log`). Optional filters combine as in the admin Lambda handler:
        when `record_id` is set, `table` is required; `user_id` is a Cognito subject
        (sub), `api-key:<id>`, or a system actor (`system`, `webhook:whatsapp`,
        `webhook:meta`, `alembic`). Use `email` to filter by Cognito email, API key name, or
        system-actor label (server resolves to sub, `api-key:<id>`, or the system
        `user_id`); do not pass `user_id` together with `email`.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          description: Opaque continuation token from `next_cursor` for the default recent listing.
          schema:
            type: string
        - name: table
          in: query
          required: false
          schema:
            type: string
            enum:
              - api_keys
              - asset_access_grants
              - asset_share_links
              - asset_tags
              - assets
              - bulk_expense_import_jobs
              - calendar_manual_blocks
              - completion_certificates
              - consultation_details
              - contact_tags
              - contacts
              - customer_invoice_lines
              - customer_invoices
              - customer_payments
              - customer_receipts
              - discount_codes
              - document_counters
              - enrollments
              - event_details
              - event_ticket_tiers
              - expense_attachments
              - expenses
              - families
              - family_members
              - family_tags
              - geographic_areas
              - inbound_emails
              - instance_session_slots
              - legacy_import_refs
              - locations
              - meta_conversations
              - meta_messages
              - notes
              - organization_members
              - organization_tags
              - organizations
              - payment_allocations
              - sales_lead_events
              - sales_leads
              - service_assets
              - service_instance_organizations
              - service_instance_tags
              - service_instances
              - service_tags
              - services
              - tags
              - training_course_details
              - training_instance_details
              - whatsapp_conversations
              - whatsapp_messages
        - name: record_id
          in: query
          required: false
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: >
            Filter by Cognito email, API key name, or system-actor label.
            Values containing `@` resolve to a Cognito `sub` via `list_users`.
            Other values first match known system actors (`System`,
            `WhatsApp webhook`, `Meta webhook`, `Alembic`, or stored ids
            `system`, `webhook:whatsapp`, `webhook:meta`, `alembic`), then
            `api_keys.name`
            (case-insensitive) which becomes `api-key:<id>`. Mutually exclusive
            with `user_id`. When no actor matches, the response is an empty list.
          schema:
            type: string
        - name: action
          in: query
          required: false
          schema:
            type: string
            enum: [INSERT, UPDATE, DELETE]
        - name: since
          in: query
          required: false
          description: ISO 8601 timestamp; only entries at or after this time are returned where applicable.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated audit log list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/audit-logs/{id}:
    get:
      summary: Get audit log entry by id
      security:
        - AdminBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Audit log entry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLog"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/api-keys:
    get:
      summary: List API tokens
      description: |
        Lists hashed API tokens used by the `x-api-token` authorizer.
        The plaintext token is never stored and is not returned here.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          description: Opaque continuation token from `next_cursor`.
          schema:
            type: string
      responses:
        "200":
          description: Paginated API token list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create an API token
      description: |
        Creates a hashed API token. The plaintext `api_token` is returned
        once in this response and cannot be retrieved again.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: Token created; plaintext included once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/api-keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get an API token
      description: Returns token metadata without the plaintext or hash.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: API token metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeySummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Revoke an API token
      description: Soft-revokes the token. Idempotent if already revoked.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Revoked token metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeySummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads:
    get:
      summary: List sales leads
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          description: Opaque continuation token from `next_cursor`; only valid when `sort` is `created_at`.
          schema:
            type: string
        - name: stage
          in: query
          required: false
          schema:
            type: string
        - name: source
          in: query
          required: false
          schema:
            type: string
        - name: lead_type
          in: query
          required: false
          schema:
            type: string
        - name: assigned_to
          in: query
          required: false
          schema:
            type: string
        - name: unassigned
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created_at, updated_at, funnel_stage, contact_name]
            default: created_at
        - name: sort_dir
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Lead list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create sales lead
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeadRequest"
      responses:
        "201":
          description: Lead create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/analytics:
    get:
      summary: Lead analytics summary
      security:
        - AdminBearerAuth: []
      parameters:
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Lead analytics response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadAnalyticsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/export:
    get:
      summary: Export leads as CSV
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: CSV export generated.
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/whatsapp/conversations:
    get:
      summary: List captured WhatsApp conversations
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          description: Opaque continuation token from `next_cursor`.
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: Case-insensitive search on profile name or WhatsApp id.
          schema:
            type: string
      responses:
        "200":
          description: Paginated WhatsApp conversation list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsAppConversationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/whatsapp/conversations/{id}/messages:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List messages for a WhatsApp conversation
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Conversation header plus newest-first messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsAppMessageListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/whatsapp/import-jobs:
    get:
      summary: List WhatsApp export import jobs
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Paginated WhatsApp export import jobs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Queue a WhatsApp chat export import
      description: >
        Upload a `.txt` or `.zip` WhatsApp Business App export as a restricted
        document asset first, then pass its id. Does not create new sales leads.
        Graph Cloud API cannot pull WhatsApp history; this parses a phone export.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWhatsAppExportImportJobRequest"
      responses:
        "202":
          description: Import job queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/whatsapp/import-jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a WhatsApp export import job
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Job detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/meta/conversations:
    get:
      summary: List captured Messenger and Instagram conversations
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          description: Opaque continuation token from `next_cursor`.
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: Case-insensitive search on profile name or Page-scoped user id.
          schema:
            type: string
        - name: channel
          in: query
          required: false
          description: Restrict results to `facebook` (Messenger) or `instagram`.
          schema:
            $ref: "#/components/schemas/MetaChannel"
      responses:
        "200":
          description: Paginated Meta conversation list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaConversationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/meta/conversations/{id}/messages:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List messages for a Messenger or Instagram conversation
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Conversation header plus newest-first messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaMessageListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/meta/import-jobs:
    get:
      summary: List Messenger and Instagram Graph import jobs
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Paginated Meta Graph import jobs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Queue a Messenger or Instagram recent-history import
      description: >
        Pulls Graph Conversations API threads for the configured Page.
        Meta only returns message bodies for the last 20 messages per thread.
        Does not create new sales leads. Creates placeholder contacts when a
        thread has no contact yet.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMetaImportJobRequest"
      responses:
        "202":
          description: Import job queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/meta/import-jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a Messenger or Instagram Graph import job
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Job detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxImportJobResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/{id}:
    parameters:
      - $ref: "#/components/parameters/LeadId"
    get:
      summary: Get lead detail
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Lead detail response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update lead stage or assignee
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLeadRequest"
      responses:
        "200":
          description: Lead update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/LeadId"
    post:
      summary: Add lead note
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
      responses:
        "201":
          description: Lead note created.
          content:
            application/json:
              schema:
                type: object
                required: [note]
                properties:
                  note:
                    $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services:
    get:
      summary: List services
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          description: |
            Opaque continuation token from `next_cursor` on the previous page.
            Service list results are ordered by title ascending, then id ascending;
            the cursor encodes the last row's title and id for that ordering.
          schema:
            type: string
        - name: service_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ServiceType"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ServiceStatus"
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: >
            Service list response. Each `ServiceSummary` item includes `service_tier`
            (nullable) for admin list display and filtering context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceRequest"
      responses:
        "201":
          description: Service created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Service key and service tier conflict with another service (unique index
            on case-insensitive service_key and tier, NULL tiers treated as one bucket).
            Error body uses `field` value `service_key_tier` (see `ErrorResponse.field`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/services/instances:
    get:
      summary: List service instances across services
      description: |
        Returns instances from all services, optionally filtered by `service_type`
        and/or `service_id`. Omit both filters to include every instance type.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InstanceStatus"
        - name: service_id
          in: query
          required: false
          description: When set, only instances for this service UUID.
          schema:
            type: string
            format: uuid
        - name: service_type
          in: query
          required: false
          description: When set, only instances whose parent service has this type.
          schema:
            $ref: "#/components/schemas/ServiceType"
      responses:
        "200":
          description: Service instance list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/discount-code-usage-summary:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    get:
      summary: Discount code usage summary for a service
      description: >
        Returns aggregate `current_uses` across discount codes scoped to this service
        (`service_id` set) and how many such codes exist. Used by the admin UI before
        changing a service `service_key`.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Usage summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeUsageSummaryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    get:
      summary: Get service
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateServiceRequest"
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Service key and service tier conflict with another service (unique index
            on case-insensitive service_key and tier, NULL tiers treated as one bucket).
            Error body uses `field` value `service_key_tier` (see `ErrorResponse.field`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Partially update service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateServiceRequest"
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Service key and service tier conflict with another service (unique index
            on case-insensitive service_key and tier, NULL tiers treated as one bucket).
            Error body uses `field` value `service_key_tier` (see `ErrorResponse.field`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete service
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Service deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Service has instances and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/services/{id}/cover-image:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    post:
      summary: Create service cover-image upload URL
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceCoverImageUploadRequest"
      responses:
        "200":
          description: Cover image upload URL response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCoverImageUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    get:
      summary: List service instances
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service instance list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create service instance
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInstanceRequest"
      responses:
        "201":
          description: Service instance created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
    get:
      summary: Get service instance
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service instance response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service instance
      description: >
        When `status` is set to `completed`, every enrollment on the instance that is
        still `registered` or `confirmed` is updated to `completed` in the same request
        (cancelled, waitlisted, and already-completed rows are left unchanged).
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInstanceRequest"
      responses:
        "200":
          description: Service instance response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete service instance
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Service instance deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}/enrollments:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
    get:
      summary: List instance enrollments
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Enrollment list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create instance enrollment
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrollmentRequest"
      responses:
        "201":
          description: Enrollment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}/enrollments/{enrollmentId}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
      - $ref: "#/components/parameters/EnrollmentId"
    patch:
      summary: Update enrollment
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrollmentRequest"
      responses:
        "200":
          description: Enrollment response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete enrollment
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Enrollment deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/discount-codes:
    get:
      summary: List discount codes
      security:
        - AdminBearerAuth: []
      parameters:
        - name: scope
          in: query
          required: false
          schema:
            type: string
            enum:
              - all
              - unscoped
              - service
              - instance
          description: >
            Optional scope facet: `unscoped` (no service/instance), `service` (service only),
            `instance` (instance-scoped). Omit or `all` for no scope facet filter.
      responses:
        "200":
          description: Discount code list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create discount code
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDiscountCodeRequest"
      responses:
        "201":
          description: Discount code created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Discount code value conflict (duplicate code, case-insensitive).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/discount-codes/{id}:
    parameters:
      - $ref: "#/components/parameters/DiscountCodeId"
    put:
      summary: Update discount code
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDiscountCodeRequest"
      responses:
        "200":
          description: Discount code response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/completion-certificates:
    get:
      summary: List completion certificates
      security:
        - AdminBearerAuth: []
      parameters:
        - name: contact_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: service_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: instance_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [issued, voided]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Keyset cursor from a previous list response (`next_cursor`).
      responses:
        "200":
          description: Certificate list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletionCertificateListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Issue completion certificate
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueCompletionCertificateRequest"
      responses:
        "201":
          description: Certificate issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletionCertificateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/completion-certificates/preview:
    post:
      summary: Preview completion certificate PDF
      description: |
        Renders a certificate PDF from the request payload without persisting a row.
        Returns a short-lived CloudFront-signed download URL.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewCompletionCertificateRequest"
      responses:
        "200":
          description: Signed preview URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdfDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/completion-certificates/{id}:
    parameters:
      - $ref: "#/components/parameters/CompletionCertificateId"
    get:
      summary: Get completion certificate
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Certificate detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletionCertificateResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete completion certificate
      description: Permanently removes the certificate row and best-effort deletes the stored PDF.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted:
                    type: boolean
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/completion-certificates/{id}/pdf:
    parameters:
      - $ref: "#/components/parameters/CompletionCertificateId"
    get:
      summary: Download issued completion certificate PDF
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Signed download URL for an issued certificate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdfDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/completion-certificates/{id}/void:
    parameters:
      - $ref: "#/components/parameters/CompletionCertificateId"
    post:
      summary: Void completion certificate
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Voided certificate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletionCertificateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/calendar/manual-blocks:
    get:
      summary: List manual calendar blocks for a purpose
      description: |
        Returns **manual** rows from `calendar_manual_blocks` only (session-derived blockers
        are exposed on `GET /v1/calendar/blockers`). Current release supports `purpose=consultation_booking` only.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: purpose
          in: query
          required: true
          schema:
            type: string
            maxLength: 64
            pattern: ^[a-z0-9]+(?:[-_][a-z0-9]+)*$
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Manual block list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminCalendarManualBlockListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create manual calendar block
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminCalendarManualBlockRequest"
      responses:
        "201":
          description: Block created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminCalendarManualBlockResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Duplicate purpose/date/period.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/calendar/manual-blocks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get manual calendar block by id
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Block detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminCalendarManualBlockResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update manual calendar block
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminCalendarManualBlockRequest"
      responses:
        "200":
          description: Updated block.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminCalendarManualBlockResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Duplicate purpose/date/period.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete manual calendar block
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminCalendarManualBlockDeleteResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/tags:
    get:
      summary: List CRM tags for administration
      description: |
        Returns tags sorted by name. Default: active tags only (`archived_at` is null).
        Use `include_archived=true` for active and archived together, or `archived_only=true`
        for archived rows only. Do not pass both `include_archived` and `archived_only`.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: include_archived
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, include tags with a non-null `archived_at`.
        - name: archived_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, return only archived tags (mutually exclusive with `include_archived`).
      responses:
        "200":
          description: Tag list with usage counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminTagListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create CRM tag
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminTagRequest"
      responses:
        "201":
          description: Tag created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminTagResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Duplicate tag name (case-insensitive uniqueness).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/tags/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get CRM tag by id
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Tag detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminTagResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update CRM tag
      description: |
        Set `archived` to `false` to restore an archived tag (clear `archived_at`).
        System-managed tags (`expense_attachment`, `client_document`) cannot be renamed or archived;
        they may be edited for color/description only.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminTagRequest"
      responses:
        "200":
          description: Updated tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminTagResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Duplicate tag name (case-insensitive uniqueness).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete or archive CRM tag
      description: |
        Always returns **200** with `usage_count` and `deleted`. System-managed tags
        (`expense_attachment`, `client_document`) return **400** and must not be removed.
        When `usage_count` is zero, the tag is **hard-deleted** (`deleted: true`), including
        an archived tag with no remaining links. When `usage_count` is greater than zero,
        the tag is **archived** (`deleted: false`, `tag` present); repeated calls are idempotent
        for in-use tags. If the client predicted delete vs archive from a stale list, compare
        `usage_count` to the prior value to detect a race.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Delete outcome (hard delete or archive).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminTagDeleteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/contacts/tags:
    get:
      summary: List CRM tags for pickers
      description: Returns all tags sorted by name for contact/family/organization editors.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Tag list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityTagListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts/search:
    get:
      summary: Search CRM contacts for pickers
      description: |
        Returns active contacts matching name, email, Instagram, and **phone** using
        server-side normalisation: ``+`` international forms, long digit strings, and
        substring matches against stored national significant numbers (with optional
        region match when the query resolves to a valid number).
        Requires at least two characters in `query`. Intended for referral and other admin pickers.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 255
        - name: exclude_contact_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Omit this contact from results (e.g. the subject contact when choosing a referrer).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Matching contacts as id/label rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityPickerListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts/mailchimp-sync-run:
    post:
      summary: Run one Mailchimp upsert batch (DB → audience)
      description: |
        Production-only. Paginated upsert for CRM contacts with the given ``only_statuses``
        (default ``pending`` and ``failed``). Never include ``unsubscribed`` in ``only_statuses``:
        that would risk re-subscribing contacts who opted out in Mailchimp. Each row calls
        Mailchimp PUT + tag; unsubscribed or archived contacts are skipped without calling Mailchimp.
        Use ``next_cursor`` until null. ``dry_run`` counts rows without calling Mailchimp; when
        ``dry_run`` is true, ``would_process`` mirrors that count and ``processed``/``skipped``
        remain populated for backward compatibility.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MailchimpSyncRunRequest"
      responses:
        "200":
          description: Batch outcome and optional next cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailchimpSyncRunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Not production or Mailchimp list env not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/contacts/mailchimp-sync-orphans:
    post:
      summary: Reconcile Mailchimp audience orphans (one page)
      description: |
        Production-only. Scans one Mailchimp list page starting at ``mailchimp_offset``.
        Removes members whose email has no active CRM contact, or whose CRM row is archived or
        ``mailchimp_status`` is ``unsubscribed``. Default ``dry_run`` is ``true`` because this
        deletes or archives Mailchimp members; set ``dry_run`` to ``false`` to execute.
        ``mode=archive`` soft-archives (recoverable); ``mode=permanent`` is GDPR erase and
        must only be used when explicitly required. Mailchimp offset pagination is eventually
        consistent (webhooks or concurrent runs may shift rows between pages); archive mode
        remains idempotent on Mailchimp. With ``mode=permanent`` and ``dry_run=false``, when
        members are removed the response repeats ``next_offset`` equal to ``mailchimp_offset``
        until a page removes zero rows, then advances by ``scanned`` when the page is full.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MailchimpOrphanCleanupRequest"
      responses:
        "200":
          description: Page scan outcome and optional next offset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailchimpOrphanCleanupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Not production or Mailchimp list env not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/contacts/mailchimp-sync-status:
    get:
      summary: Mailchimp sync counters for admin progress UI
      description: |
        Returns aggregate counts by ``mailchimp_status`` plus archived contacts that still
        carry a ``mailchimp_subscriber_id``. ``last_run_summary`` is reserved for a future release
        and is always null in v1.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Status snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailchimpSyncStatusResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts:
    get:
      summary: List CRM contacts
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: |
            Search first name, last name, email, Instagram, and phone (stored as ISO region +
            national digits; server normalises ``+`` / digit queries before matching).
        - name: active
          in: query
          schema:
            type: boolean
        - name: contact_type
          in: query
          schema:
            $ref: "#/components/schemas/EntityContactType"
          description: When set, only contacts with this contact type are returned.
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Contact list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create CRM contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminContactRequest"
      responses:
        "201":
          description: Contact created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/AdminContactId"
    get:
      summary: Get CRM contact
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Contact response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete CRM contact
      description: |
        Permanently removes the contact row. Dependent CRM notes on linked sales leads
        are removed first; enrollments and other references that use `ON DELETE SET NULL`
        clear their `contact_id`. Returns `400` if the database still blocks deletion.
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Contact deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update CRM contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminContactRequest"
      responses:
        "200":
          description: Contact response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/AdminContactId"
    get:
      summary: List standalone notes for a contact
      description: |
        Returns notes stored on the contact that are not tied to a sales lead
        (`lead_id` is null), newest first. Notes created on a lead remain on the lead detail only.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Note list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminNoteListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Add a standalone note to a contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
      responses:
        "201":
          description: Note created.
          content:
            application/json:
              schema:
                type: object
                required: [note]
                properties:
                  note:
                    $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/contacts/{id}/services:
    parameters:
      - $ref: "#/components/parameters/AdminContactId"
    get:
      summary: List purchased services for a contact
      description: |
        Returns invoice-style labels for non-cancelled enrollments attributed to the
        contact or to any family or organisation the contact belongs to. Labels are
        deduplicated and sorted alphabetically.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service label list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityServicesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/contacts/{id}/notes/{noteId}:
    parameters:
      - $ref: "#/components/parameters/AdminContactId"
      - $ref: "#/components/parameters/NoteId"
    patch:
      summary: Update a standalone note on a contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNoteRequest"
      responses:
        "200":
          description: Note updated.
          content:
            application/json:
              schema:
                type: object
                required: [note]
                properties:
                  note:
                    $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete a standalone note on a contact
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Note deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
[...]
