openapi: 3.0.3
info:
  title: Public API
  version: 0.4.0
  description: |
    Public endpoint contract.

    Public GET responses that are intended for CloudFront edge caching on the
    public website ``/www/*`` proxy emit ``Cache-Control`` headers (success: shared
    cache TTL; errors: ``no-store``). Handlers must keep this contract when new
    allowlisted GET routes are added.

    This spec covers:
    - Public asset endpoints exposed by the backend API stack
      (`/v1/assets/public*`, `/v1/assets/share/*`, `/v1/assets/email-download/*`,
      `/v1/assets/free`).
    - Public free-asset listing for the website (`/v1/assets/free`, `/www/v1/assets/free`).
    - Public calendar feed (`/v1/calendar/public`, `/www/v1/calendar/public`).
    - Public calendar availability (`/v1/calendar/availability`, `/www/v1/calendar/availability`).
    - Media lead capture (`/v1/assets/free/request`, `/www/v1/assets/free/request`).
    - Training form answer persistence (`PUT /v1/forms/{form_slug}/answers`,
      `/www/v1/forms/{form_slug}/answers`) for `apps/training` (DynamoDB; API key only).
    - Training poll answer persistence (`PUT /v1/polls/{poll_slug}/answers`,
      `/www/v1/polls/{poll_slug}/answers`) and session resume
      (`GET /v1/polls/{poll_slug}/answers?sessionId=…`, same `/www` prefix),
      facilitator control
      (`GET`/`PUT /v1/polls/{poll_slug}/control`, `/www/.../control`), and live
      per-question aggregates (`GET /v1/polls/{poll_slug}/questions/{question_id}/results`,
      `/www/...`) for `apps/training` (DynamoDB; API key only).
    - Public website endpoints consumed by `apps/public_www`, exposed via the
      CloudFront `/www/*` proxy allowlist in
      `backend/infrastructure/lib/public-www-stack.ts`.
    - WhatsApp Cloud API webhook (`GET`/`POST /v1/whatsapp/webhook`) for Meta
      handshake plus inbound and coexistence echo messages.

servers:
  - url: https://api.evolvesprouts.com
    description: Direct API origin
  - url: https://www.evolvesprouts.com
    description: Public website (same-origin `/www/*` proxy path)
  - url: https://www-staging.evolvesprouts.com
    description: Staging public website (same-origin `/www/*` proxy path)
  - url: https://training.evolvesprouts.com
    description: Training website (same-origin `/www/*` proxy path; not indexed)

paths:
  /v1/assets/public:
    get:
      summary: List public assets
      description: Public asset listing route guarded by device attestation and API key.
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset list response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate public asset download
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/share/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link
      description: |
        Public bearer endpoint that resolves a stable share token and redirects
        to a fresh CloudFront-signed download URL.
        Requests are authenticated with API key at API Gateway; CloudFront
        forwards the request and injects `x-api-key` for end users.
        Resolution is allowed only when the request carries a Referer/Origin
        header matching the asset's admin-configured domain allowlist.
        If the linked asset is `restricted`, the request must also include a
        valid Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "403":
          $ref: "#/components/responses/Forbidden"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/email-download/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link for email
      description: |
        Same token resolution as `/v1/assets/share/{token}` but intended for
        links opened from email clients: no Referer/Origin domain allowlist check.
        API key is still required at API Gateway; CloudFront injects `x-api-key`.
        If the linked asset is `restricted`, the request must include a valid
        Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/mailchimp/webhook:
    get:
      summary: Mailchimp webhook URL verification
      description: |
        Lightweight endpoint that Mailchimp calls with a GET request when
        validating the webhook URL during webhook creation.  Returns 200
        with no side-effects.
      responses:
        "200":
          description: Verification acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
    post:
      summary: Receive Mailchimp audience webhook event
      description: |
        Public webhook endpoint for Mailchimp audience events.
        Requests must include a shared secret token in the `token` query
        parameter, and payloads are submitted as
        `application/x-www-form-urlencoded`.
      parameters:
        - $ref: "#/components/parameters/MailchimpWebhookToken"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/MailchimpWebhookRequest"
      responses:
        "200":
          description: Webhook processed or ignored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Missing or invalid webhook token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/whatsapp/webhook:
    get:
      summary: WhatsApp Cloud API webhook verification
      description: |
        Meta subscription handshake. Returns the raw `hub.challenge` when
        `hub.mode=subscribe` and `hub.verify_token` matches
        `WHATSAPP_WEBHOOK_VERIFY_TOKEN`.
      parameters:
        - name: hub.mode
          in: query
          required: true
          schema:
            type: string
        - name: hub.verify_token
          in: query
          required: true
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification challenge echoed as plain text.
          content:
            text/plain:
              schema:
                type: string
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Receive WhatsApp Cloud API webhook events
      description: |
        Public webhook for inbound WhatsApp messages and coexistence
        `smb_message_echoes`. Requests must include a valid
        `X-Hub-Signature-256` HMAC of the raw body using `META_APP_SECRET`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsAppWebhookAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Missing or invalid webhook signature.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/free:
    get:
      summary: List public free website assets
      description: |
        Lists **public** assets tagged `client_document` for the public website.
        Optional `language` filters to assets whose `content_language` matches exactly
        (BCP 47-style tag, e.g. `en`, `zh-HK`). Omitted `language` returns all matches,
        including rows with null `content_language`.
        Download files via `GET /v1/assets/public/{id}/download` (device attestation required).
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          headers:
            Cache-Control:
              schema:
                type: string
              description: >
                `public, max-age=60, s-maxage=300, stale-while-revalidate=600` for
                CloudFront edge caching on `/www/*` (TTL capped by cache policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/PublicWebsiteCacheableGetNotFound"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /www/v1/assets/free:
    get:
      summary: List public free website assets (website proxy path)
      description: Same as `GET /v1/assets/free` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          headers:
            Cache-Control:
              schema:
                type: string
              description: >
                `public, max-age=60, s-maxage=300, stale-while-revalidate=600` for
                CloudFront edge caching on `/www/*` (TTL capped by cache policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/PublicWebsiteCacheableGetNotFound"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /v1/calendar/public:
    get:
      summary: List public calendar events
      description: |
        Calendar feed for public consumers (direct API).
        Source of truth is the backend `service_instances` projection for
        published `event` and `training_course` services (consultation is never
        included). Instances with an empty `service_instances.slug` are
        omitted from this feed.

        Visibility: each instance must either have at least one session slot with
        `ends_at` not before the server clock (upcoming or in progress), **or**
        (only when the parent service type is `event`) have all slots ended with the
        latest `ends_at` within the prior 90 days. Fully concluded `training_course`
        instances are never returned on this feed.

        Results are ordered by the earliest upcoming session slot,
        then `service_instances.id` for a stable tie-break (finished `event` rows
        sort with a null earliest-upcoming value).

        Optional filters: `service_type`, `slug`, `service_key`. Filters
        combine via logical AND; contradictory combinations return `events: []`.

        Each returned event includes `slug` and `service_key` (nullable) from the
        parent service; together they identify the bookable instance for
        `POST /v1/discounts/validate` and `POST /v1/reservations`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: service_type
          in: query
          required: false
          schema:
            type: string
            enum: [event, training_course]
          description: >
            Restrict feed to one service type. Omitted = both event and
            training_course are returned (finished-event lookback applies only to
            `event`). Consultation is never exposed.
        - name: slug
          in: query
          required: false
          schema:
            type: string
            maxLength: 128
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Filter results to at most one instance whose
            `service_instances.slug` matches the provided slug case-insensitively.
            Invalid or empty values are silently ignored.
        - name: service_key
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Restrict the feed to instances of a single service whose key matches
            `service_key` case-insensitively against `services.service_key` in Aurora
            (e.g. `my-best-auntie-training-course`). Combines with `service_type` and
            `slug` via logical AND; contradictory combinations return
            `events: []`. Unknown keys return `events: []`. Invalid values
            (wrong shape, too long) are silently ignored and the filter is not
            applied, consistent with `service_type` and `slug`.
            Same case-insensitive `services.service_key` mapping as the `service_key` field
            on `POST /v1/discounts/validate` (JSON body), not the same parameter surface.
      responses:
        "200":
          description: Event list response.
          headers:
            Cache-Control:
              schema:
                type: string
              description: >
                `public, max-age=60, s-maxage=300, stale-while-revalidate=600` for
                CloudFront edge caching on `/www/*` (TTL capped by cache policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/PublicWebsiteCacheableGetNotFound"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /www/v1/calendar/public:
    get:
      summary: List public website events
      description: |
        Same as `GET /v1/calendar/public` for same-origin calls from `public_www`.
        Source of truth is the backend `service_instances` projection for
        published `event` and `training_course` services (consultation is never
        included). Instances with an empty `service_instances.slug` are
        omitted from this feed.

        Visibility: each instance must either have at least one session slot with
        `ends_at` not before the server clock (upcoming or in progress), **or**
        (only when the parent service type is `event`) have all slots ended with the
        latest `ends_at` within the prior 90 days. Fully concluded `training_course`
        instances are never returned on this feed.

        Results are ordered by the earliest upcoming session slot,
        then `service_instances.id` for a stable tie-break (finished `event` rows
        sort with a null earliest-upcoming value).

        Optional filters: `service_type`, `slug`, `service_key`. Filters
        combine via logical AND; contradictory combinations return `events: []`.

        Each returned event includes `slug` and `service_key` (nullable) from the
        parent service; together they identify the bookable instance for
        `POST /v1/discounts/validate` and `POST /v1/reservations`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: service_type
          in: query
          required: false
          schema:
            type: string
            enum: [event, training_course]
          description: >
            Restrict feed to one service type. Omitted = both event and
            training_course are returned (finished-event lookback applies only to
            `event`). Consultation is never exposed.
        - name: slug
          in: query
          required: false
          schema:
            type: string
            maxLength: 128
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Filter results to at most one instance whose
            `service_instances.slug` matches the provided slug case-insensitively.
            Invalid or empty values are silently ignored.
        - name: service_key
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Restrict the feed to instances of a single service whose key matches
            `service_key` case-insensitively against `services.service_key` in Aurora
            (e.g. `my-best-auntie-training-course`). Combines with `service_type` and
            `slug` via logical AND; contradictory combinations return
            `events: []`. Unknown keys return `events: []`. Invalid values
            (wrong shape, too long) are silently ignored and the filter is not
            applied, consistent with `service_type` and `slug`.
            Same case-insensitive `services.service_key` mapping as the `service_key` field
            on `POST /v1/discounts/validate` (JSON body), not the same parameter surface.
      responses:
        "200":
          description: Event list response.
          headers:
            Cache-Control:
              schema:
                type: string
              description: >
                `public, max-age=60, s-maxage=300, stale-while-revalidate=600` for
                CloudFront edge caching on `/www/*` (TTL capped by cache policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/PublicWebsiteCacheableGetNotFound"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /v1/calendar/availability:
    get:
      summary: Public calendar availability (slot intervals + meta)
      description: |
        Returns discrete bookable UTC intervals (`slots`) plus `meta` for the requested `purpose`.

        **`consultation_booking`:** Half-day blocks Mon–Fri local (`Asia/Hong_Kong` via
        `CALENDAR_BLOCKERS_WALL_TIMEZONE`): morning `[09:00,12:00)` and afternoon `[14:00,18:00)`.
        Two calendar days minimum lead from today’s local date; maximum horizon defaults and caps at 120 days.
        Success responses use `Cache-Control: no-store`.

        **`intro_call_booking`:** 15-minute calls on a 30-minute cadence Mon–Fri 09:00–18:00 local intro-call wall zone.
        Two-hour lead time; default horizon 21 days; range span capped at 28 days; `from` not more than 35 days ahead.
        Success responses use the standard shared-cache GET headers for `/www/*`.

        **`from` / `to`:** Optional inclusive `YYYY-MM-DD` dates (strict validation). When omitted, `from`
        defaults to today in the purpose wall zone and `to` defaults to `from + default_horizon_days`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purpose
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/PublicCalendarAvailabilityPurpose"
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Inclusive range start (`YYYY-MM-DD`).
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Inclusive range end (`YYYY-MM-DD`).
      responses:
        "200":
          description: Availability envelope.
          headers:
            Cache-Control:
              schema:
                type: string
              description: >
                `no-store` for `purpose=consultation_booking`. For `intro_call_booking`, the same
                value as other public cacheable GETs: `public, max-age=60, s-maxage=300, stale-while-revalidate=600`
                (TTL capped by cache policy on `/www/*`). Errors use `no-store`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarAvailabilityResponse"
        "400":
          $ref: "#/components/responses/PublicWebsiteCacheableGetBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /www/v1/calendar/availability:
    get:
      summary: Public calendar availability (website proxy path)
      description: Same as `GET /v1/calendar/availability` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: purpose
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/PublicCalendarAvailabilityPurpose"
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Availability envelope.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarAvailabilityResponse"
        "400":
          $ref: "#/components/responses/PublicWebsiteCacheableGetBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          $ref: "#/components/responses/PublicWebsiteCacheableGetMethodNotAllowed"

  /v1/discounts/validate:
    post:
      summary: Validate discount code (native)
      description: |
        Validates an admin-managed discount code against Aurora (`discount_codes`).
        Request and successful response shapes match historical public booking clients.

        Validity window: when `valid_from` / `valid_until` are set on the code, validation
        succeeds only while the server UTC instant is **on or after** `valid_from` and
        **on or before** `valid_until` (both ends inclusive).

        **Identity:** requests always include `service_key`. When `service_instance_slug`
        is present and non-empty, it resolves with `service_key` to a real `service_instances`
        row whose parent service's `services.service_key` matches `service_key` case-insensitively;
        otherwise **404** with `rejection_reason` `unknown_service_instance_slug` or
        `service_key_instance_mismatch` (same generic `error` message as inactive codes).
        When `service_instance_slug` is omitted or blank, identity is **service-key-only**:
        the handler resolves the `services` row by `service_key`. Unknown keys return **404**
        with `rejection_reason` `unknown_service_key`.

        **Service scoping:** codes may be limited to a service and/or instance in Aurora.
        Unscoped codes (no `service_id` / `instance_id`) validate as long as identity resolves.
        When the code is scoped to a **service only**, `services.service_key` must match the
        resolved parent service. When scoped to an **instance**, `service_instance_slug` must be
        supplied and must match the resolved instance (instance-scoped codes reject service-key-only requests).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: >
            Code not found, inactive, expired, fully used, or identity/scoping mismatch.
            When `rejection_reason` is present it may be `unknown_service_instance_slug`,
            `service_key_instance_mismatch`, or `unknown_service_key`
            (other rejections use the same generic body without this field).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/discounts/validate:
    post:
      summary: Validate discount code (native, website proxy path)
      description: |
        Same as `POST /v1/discounts/validate` for same-origin calls from `public_www`.
        Validity window boundaries are inclusive on both `valid_from` and `valid_until` (UTC).
        Service and instance scoping rules match the `/v1/discounts/validate` description.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: >
            Code not found, inactive, expired, fully used, or identity/scoping mismatch.
            When `rejection_reason` is present it may be `unknown_service_instance_slug`,
            `service_key_instance_mismatch`, or `unknown_service_key`
            (other rejections use the same generic body without this field).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/contact-us:
    post:
      summary: Submit contact-us form (direct API path)
      description: >
        Accepts contact-us, community newsletter, and event-notification signups from
        `public_www`. Requires Turnstile. Persists to Aurora (contact; sales lead
        for `contact_inquiry` only), then runs best-effort SES confirmation (skipped
        for newsletter/event-notification intents), optional Mailchimp subscribe,
        sales recap, and `SUPPORT_EMAIL` notification for `contact_inquiry`.
        Returns **500** when persistence fails. If hooks fail after commit, the API
        still returns **202** (data is saved).
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "202":
          description: Contact submission accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/contact-us:
    post:
      summary: Submit contact-us form (website proxy path)
      description: Same as `POST /v1/contact-us` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "202":
          description: Contact submission accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/reservations:
    post:
      summary: Submit reservation (direct API path)
      description: >
        Submit a public reservation from `public_www` (execute-api origin).

        Persists the attendee as a CRM contact, creates a program-enrollment
        sales lead (lead event metadata may include `discount_code` and
        `discount_code_id` when a valid non-referral code was supplied), and when
        `serviceInstanceSlug` resolves to a `service_instances` row and the contact has no
        existing enrollment on the **target booking instance** (for consultation-booking and
        intro-call-booking this is a freshly created child instance; for other flows it is the
        resolved instance row), inserts an `enrollments` row (`created_by`: `public-reservation`)
        with optional `discount_code_id` and paid amount, currency, optional bill-to fields, then returns **202** on success.
        When enrollment is created, records a **`customer_payments`** row (Stripe succeeded,
        free, or pending for offline rails). Receipt PDF upload for succeeded inbound
        payments is finalized after staff confirm via admin billing (not at booking time).
        If the same Stripe PaymentIntent id was already stored, returns **200** with
        `duplicateStripePaymentIntent: true` and `customerPaymentId` (idempotent client retries).
        Referral-type discount codes are rejected like the public validate endpoint.
        Returns **409** when the instance is full and public bookings may not waitlist.
        Best-effort SES booking
        confirmation to the attendee, optional Mailchimp subscribe, and plain-text
        **sales recap** to `ADMIN_GROUP` verified emails run after commit (hook
        failures are logged; HTTP **202** is still returned for normal submissions, **200**
        when `duplicateStripePaymentIntent` applies). Returns **500** when
        Aurora persistence fails. When `bookingSystem` is `consultation-booking` or
        `intro-call-booking`, Stripe PaymentIntent idempotency is enforced **before**
        allocating the booking instance so retries cannot double-create tier children for the
        same PaymentIntent. Requires Turnstile, `agreedToTermsAndConditions:
        true`, and Stripe PaymentIntent verification when the payment method implies
        Stripe.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "200":
          description: >
            Idempotent retry: same Stripe PaymentIntent already linked (`duplicateStripePaymentIntent`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: >
            Reservation submitted. For `consultation-booking` and `intro-call-booking`,
            the server creates a booking-specific `service_instances` row (child of the
            resolved catalog service), inserts scheduled session slots tagged with
            `purpose_service_id` for race protection, and attaches the enrollment to
            that booking instance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: >
            Conflict (for example the resolved instance is at capacity with waitlist
            disabled for public bookings). May occur after payment confirmation; response
            body uses the standard error shape with `field` when applicable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/reservations:
    post:
      summary: Submit reservation (website proxy path)
      description: Same as `POST /v1/reservations` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "200":
          description: Same idempotent Stripe PaymentIntent response as `POST /v1/reservations`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: >
            Reservation submitted. For `consultation-booking` and `intro-call-booking`,
            the server creates a booking-specific `service_instances` row (child of the
            resolved catalog service), inserts scheduled session slots tagged with
            `purpose_service_id` for race protection, and attaches the enrollment to
            that booking instance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Same conflict cases as `POST /v1/reservations`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/reservations/payment-intent:
    post:
      summary: Create reservation payment intent
      description: Create a Stripe PaymentIntent for inline booking modal payment.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationPaymentIntentRequest"
      responses:
        "200":
          description: PaymentIntent created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationPaymentIntentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "502":
          description: Upstream payment provider initialization failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/forms/{form_slug}/answers:
    put:
      summary: Persist one form question answer (direct API path)
      description: >
        Upserts a single question answer for a training-site form session.
        Used by `apps/training` when the respondent advances to the next question.
        Answers are stored in the shared DynamoDB table `evolvesprouts-poll-responses`
        (partition key `FORM#<form_slug>`, sort key `SESSION#<session_id>#Q#<question_id>`).
        Re-submitting the same session and question overwrites the prior row.
        Requires API key; Turnstile is not used on this route.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: form_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          description: Form identifier (for example `workshop-feedback`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormAnswerPutRequest"
      responses:
        "200":
          description: Answer persisted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormAnswerPutResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Form path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/polls/{poll_slug}/answers:
    get:
      summary: List persisted answers for one poll session (direct API path)
      description: >
        Returns all question answers stored for the given `sessionId` on this
        poll. Used by `apps/training` on page load to resume the respondent
        wizard after refresh. Requires API key.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: sessionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Client session id from browser session storage.
      responses:
        "200":
          description: Session answers for the poll.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollSessionAnswersResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Load failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Persist one poll question answer (direct API path)
      description: >
        Upserts a single question answer for a training-site poll session.
        Used by `apps/training` when the respondent advances to the next question.
        Answers are stored in the shared DynamoDB table `evolvesprouts-poll-responses`
        (partition key `POLL#<poll_slug>`, sort key `SESSION#<session_id>#Q#<question_id>`).
        Re-submitting the same session and question overwrites the prior row.
        Identical re-submits (same answer payload) return `200` without a new
        DynamoDB write and do not consume the per-session write counter.
        Submissions are rejected with `409` when the facilitator has not enabled
        the question (`error`: `question_not_open`), when no questions are open
        (`poll_not_accepting_answers`), or when `selectedOption` /
        `selectedOptions` are not members of the facilitator-published option
        list for that question (`option_not_allowed`; skipped when control state
        has no `questionOptions`). Per-session write counters in DynamoDB use a
        fixed one-hour bucket (`RATELIMIT#SESSION#<session_id>#W#<epoch//3600>`)
        and return `429` (`poll_write_rate_limit_exceeded`) when exceeded; stale
        buckets are garbage-collected via TTL on `expiresAt` (lazy deletion).
        Requires API key; Turnstile is not used on this route.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          description: Poll identifier (for example `workshop-food-jun-26`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PollAnswerPutRequest"
      responses:
        "200":
          description: Answer persisted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollAnswerPutResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: >
            Question not open for responses, option not allowed, or poll not
            accepting answers. Body `error` is `question_not_open`,
            `option_not_allowed`, or `poll_not_accepting_answers`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Poll answer write rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/polls/{poll_slug}/control:
    get:
      summary: Poll facilitator control state (direct API path)
      description: >
        Returns which poll questions are currently open for respondents.
        Stored at DynamoDB sort key `CONTROL` under partition `POLL#<poll_slug>`.
        When `enabledQuestionIds` is empty (default), respondents wait until the
        facilitator enables at least one question. Requires API key.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      responses:
        "200":
          description: Current control state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollControlStateResponse"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Load failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update poll facilitator control state (direct API path)
      description: >
        Replaces the set of question ids that respondents may answer. Questions
        not listed remain visible on the facilitator control page but are skipped
        on the participant poll flow.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PollControlStatePutRequest"
      responses:
        "200":
          description: Control state updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollControlStateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/polls/{poll_slug}/questions/{question_id}/results:
    get:
      summary: Live aggregate results for one poll question (direct API path)
      description: >
        Returns room-wide response counts for a single poll question. Used by
        `apps/training` when `showResults` is enabled on a question, and on the
        facilitator control page for every question. Counts all rows in DynamoDB
        `evolvesprouts-poll-responses` for the poll partition with matching
        `questionId` (one row per session per question; re-answers overwrite).
        Requires `questionType` of `select`, `multiselect`, `truefalse`, `text`, or `email`.
        For `text` and `email`, returns a `responses` array of answer strings.
        Requires API key.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: questionType
          in: query
          required: true
          schema:
            type: string
            enum: [select, multiselect, truefalse, text, email]
      responses:
        "200":
          description: Aggregated counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollQuestionResultsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Aggregation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/polls/{poll_slug}/control:
    get:
      summary: Poll facilitator control state (training website proxy path)
      description: Same as `GET /v1/polls/{poll_slug}/control` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      responses:
        "200":
          description: Current control state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollControlStateResponse"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Load failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update poll facilitator control state (training website proxy path)
      description: Same as `PUT /v1/polls/{poll_slug}/control` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PollControlStatePutRequest"
      responses:
        "200":
          description: Control state updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollControlStateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/polls/{poll_slug}/questions/{question_id}/results:
    get:
      summary: Live aggregate results for one poll question (training website proxy path)
      description: Same as `GET /v1/polls/{poll_slug}/questions/{question_id}/results` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: questionType
          in: query
          required: true
          schema:
            type: string
            enum: [select, multiselect, truefalse, text, email]
      responses:
        "200":
          description: Aggregated counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollQuestionResultsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Aggregation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/forms/{form_slug}/answers:
    put:
      summary: Persist one form question answer (training website proxy path)
      description: Same as `PUT /v1/forms/{form_slug}/answers` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: form_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormAnswerPutRequest"
      responses:
        "200":
          description: Answer persisted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormAnswerPutResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Form path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/polls/{poll_slug}/answers:
    get:
      summary: List persisted answers for one poll session (training website proxy path)
      description: Same as `GET /v1/polls/{poll_slug}/answers` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        - name: sessionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Session answers for the poll.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollSessionAnswersResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Load failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Persist one poll question answer (training website proxy path)
      description: Same as `PUT /v1/polls/{poll_slug}/answers` for same-origin calls from `apps/training`.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: poll_slug
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PollAnswerPutRequest"
      responses:
        "200":
          description: Answer persisted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollAnswerPutResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Poll path not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/free/request:
    post:
      summary: Submit media request (direct API path)
      description: >
        Submit a media lead form. Routed on the public website via CloudFront as
        `POST /www/v1/assets/free/request` (execute-api origin).

        The download link is delivered by SES (templated email). After async
        processing, a plain-text **sales recap** is emailed to every verified
        email on users in the Cognito group named by `ADMIN_GROUP`. Optional
        Mailchimp subscribe + journey triggers respect `MAILCHIMP_REQUIRE_MARKETING_CONSENT`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/assets/free/request:
    post:
      summary: Submit media request (website proxy path)
      description: Same as `POST /v1/assets/free/request` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    DeviceAttestation:
      type: apiKey
      in: header
      name: x-device-attestation
    TurnstileToken:
      type: apiKey
      in: header
      name: X-Turnstile-Token

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    ShareToken:
      name: token
      in: path
      required: true
      schema:
        type: string
      description: Stable bearer token for a shared asset.
    TurnstileTokenHeader:
      name: X-Turnstile-Token
      in: header
      required: true
      schema:
        type: string
      description: Cloudflare Turnstile response token.
    MailchimpWebhookToken:
      name: token
      in: query
      required: true
      schema:
        type: string
      description: Shared secret token configured for Mailchimp webhook requests.
    ClientResourceLanguage:
      name: language
      in: query
      required: false
      schema:
        type: string
        maxLength: 35
      description: |
        Filter to assets whose `content_language` equals this tag (e.g. `en`, `zh-HK`).
        When omitted, all matching public client resources are returned.
    ListLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Page size (default 25).
    ListCursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: Pagination cursor from the previous response's `next_cursor`.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization or verification failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PublicWebsiteCacheableGetBadRequest:
      description: Validation error; must not be cached at the edge.
      headers:
        Cache-Control:
          schema:
            type: string
            enum: [no-store]
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PublicWebsiteCacheableGetMethodNotAllowed:
      description: Method not allowed; must not be cached at the edge.
      headers:
        Cache-Control:
          schema:
            type: string
            enum: [no-store]
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PublicWebsiteCacheableGetNotFound:
      description: Not found; must not be cached at the edge.
      headers:
        Cache-Control:
          schema:
            type: string
            enum: [no-store]
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    PublicAsset:
      type: object
      required:
        - id
        - title
        - asset_type
        - file_name
        - visibility
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicAssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicAsset"
        next_cursor:
          type: string
          nullable: true
    PublicClientResource:
      type: object
      required:
        - title
        - asset_type
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        resource_key:
          type: string
          nullable: true
        content_language:
          type: string
          nullable: true
          description: BCP 47-style language tag for file content (e.g. en, zh-HK).
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicClientResourceListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicClientResource"
        next_cursor:
          type: string
          nullable: true
    PublicAssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
          description: CloudFront-signed URL generated for this request.
        expires_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
        field:
          type: string
          nullable: true
        rejection_reason:
          type: string
          nullable: true
          description: >
            Optional machine-readable reason on some 404 responses (for example discount validate).
            For `POST /v1/discounts/validate` and `POST /www/v1/discounts/validate`, when present on
            a 404 the value is one of: `unknown_service_instance_slug`, `service_key_instance_mismatch`.
            The Lambda also logs other reasons (`code_not_found`, `referral_type_not_allowed`, `inactive`,
            `not_yet_valid`, `expired`, `max_uses_exhausted`, `instance_scope_mismatch`, `service_scope_mismatch`)
            without returning them in the JSON body.
    PublicCalendarEventDate:
      type: object
      required:
        - part
        - start_datetime
        - end_datetime
      properties:
        part:
          type: integer
          minimum: 1
          description: >
            1-based session-slot ordinal that mirrors the slot's display order. Sequence is
            dense (1..N) and matches the order returned by the public site.
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
    PublicCalendarEvent:
      type: object
      required:
        - slug
        - service_type
        - title
        - status
        - booking_status
        - is_fully_booked
        - location
        - location_url
        - dates
        - tags
        - categories
        - partners
        - service_tier
      properties:
        service_type:
          type: string
          enum: [event, training_course]
        title:
          type: string
          description: >
            Base instance or service title. When both `service_tier` and `cohort` are
            non-null, the API appends a space, the tier, a space-hyphen-space, and a
            humanized cohort label (hyphen-separated cohort segments, each segment
            capitalized; e.g. cohort `may-26` yields `May 26`).
        summary:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [open, completed, cancelled]
        booking_status:
          type: string
          enum: [open, fully_booked]
        is_fully_booked:
          type: boolean
          description: Mirrors `booking_status == "fully_booked"`.
        booking_system:
          type: string
          description: >
            Resolved booking-system key. Derived from `services.booking_system` when
            set; otherwise defaults to `event-booking` for events and
            `my-best-auntie-booking` for the My Best Auntie training course service.
            Omitted from the JSON object when no default applies (not `null`).
        location:
          type: string
          enum: [virtual, physical]
        location_name:
          type: string
          nullable: true
          description: >
            Venue display name; derivation matches `location_url`. When the resolved
            location row has no display name but matches a linked partner organization's
            CRM location (`organizations.location_id`), the API uses that partner's
            `organizations.name` instead of `null`.
        location_address:
          type: string
          nullable: true
          description: Venue address line; derivation matches `location_url`.
        location_url:
          type: string
          description: >
            Google Maps directions URL derived server-side from venue coordinates
            when available, otherwise from the URL-encoded address. Empty string
            for virtual offerings or when no location metadata is on file. Location fields
            resolve from the primary session slot's location when set, otherwise from the
            instance's location, otherwise from the parent service's location.
        external_url:
          type: string
          nullable: true
          description: >
            Optional external registration URL. Uses
            `service_instances.external_url` when set, falling back to
            `service_instances.eventbrite_event_url` for backward compatibility.
        price:
          type: integer
          nullable: true
          description: >
            Whole currency units; fractional DB amounts are rounded half-up to the
            nearest integer.
        currency:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          description: >
            Alphabetically ordered display tag names from
            `service_instance_tags`, plus the `service_tier` value when it is
            non-null and non-empty (same string as the `service_tier` field).
            Does not include service-level CRM tags.
        categories:
          type: array
          items:
            type: string
          description: >
            Single-element for events (derived from `event_details.event_category`)
            or `["Training Course"]` for training courses. May be an empty array for
            events when `event_details` has not been set (unexpected in normal data).
        partners:
          type: array
          items:
            type: string
          description: >
            Partner organization keys (`organizations.partner_key`) linked via
            `service_instance_organizations`, ordered by `sort_order`.
        slug:
          type: string
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          maxLength: 128
          description: >
            Stable public identifier for the offering. Maps to `service_instances.slug`.
            The calendar feed omits rows where the instance slug is empty or does not match
            this public pattern (invalid values are filtered server-side).
        service_key:
          type: string
          nullable: true
          maxLength: 80
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Parent service public key (`services.service_key`); nullable when the parent
            service has no key. Required by `POST /v1/discounts/validate` and
            `POST /v1/reservations` for booking identity, so consumers should treat a
            null value as "this offering cannot be booked through the public flows yet."
        service_tier:
          type: string
          nullable: true
          description: >
            From `services.service_tier` when set; for My Best Auntie training
            cohorts, inferred from `service_instances.slug` (for example
            `my-best-auntie-1-3-apr-26` for alpha-month cohort tokens, or legacy
            `my-best-auntie-1-3-04-26` when the slug still encodes numeric month-year)
            when the parent service tier is unset. `null` when not applicable.
        cohort:
          type: string
          nullable: true
        spaces_total:
          type: integer
          nullable: true
        spaces_left:
          type: integer
          nullable: true
          description: >
            Seats remaining when `spaces_total` is present: `max(0, spaces_total -
            filled)` where `filled` counts capacity enrollments, optionally reduced by an
            admin-only `capacity_left_override` soft cap on the instance (display-only;
            does not change `booking_status` / `is_fully_booked`). It is intentional for
            `spaces_left` to be `0` while `is_fully_booked` is false when an operator sets
            the override to `0` (display-only cap; booking still follows enrollment vs
            `spaces_total`).
        dates:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEventDate"
    PublicCalendarEventsResponse:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEvent"
        items:
          type: array
          deprecated: true
          description: >
            Deprecated alias of `events` for older clients. Prefer `events`.
          items:
            $ref: "#/components/schemas/PublicCalendarEvent"
    PublicCalendarAvailabilityPurpose:
      type: string
      enum:
        - consultation_booking
        - intro_call_booking
    PublicCalendarSlot:
      type: object
      required:
        - start_iso
        - end_iso
      additionalProperties: false
      properties:
        start_iso:
          type: string
          format: date-time
        end_iso:
          type: string
          format: date-time
    PublicCalendarAvailabilityMeta:
      type: object
      required:
        - purpose
        - from
        - to
        - wall_time_zone
        - default_horizon_days
        - max_horizon_days
      additionalProperties: false
      properties:
        purpose:
          $ref: "#/components/schemas/PublicCalendarAvailabilityPurpose"
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        wall_time_zone:
          type: string
          description: IANA timezone key used for local wall-clock rules for this purpose.
        default_horizon_days:
          type: integer
          minimum: 1
        max_horizon_days:
          type: integer
          minimum: 1
        max_forward_days:
          type: integer
          minimum: 1
          description: Present for intro-call (`from` cannot be too far ahead of today).
        lead_hours:
          type: integer
          minimum: 1
          description: Present for intro-call booking lead-time.
        lead_calendar_days:
          type: integer
          minimum: 1
          description: Present for consultation booking calendar-day lead-time.
    PublicCalendarAvailabilityResponse:
      type: object
      required:
        - slots
        - meta
      additionalProperties: false
      properties:
        slots:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarSlot"
        meta:
          $ref: "#/components/schemas/PublicCalendarAvailabilityMeta"
    DiscountValidationRequest:
      type: object
      required:
        - code
        - service_key
      properties:
        code:
          type: string
          maxLength: 100
        service_key:
          type: string
          maxLength: 80
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Parent service public key (e.g. `my-best-auntie-training-course`,
            `family-consultation-essentials`, `intro-call`). Matched case-insensitively
            against `services.service_key`. With `service_instance_slug`, must pair-resolve to an
            instance on this service; without `service_instance_slug`, must identify an existing service row.
        service_instance_slug:
          type: string
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          maxLength: 128
          description: >
            Optional public instance slug (`service_instances.slug`). When present, matched
            case-insensitively and combined with `service_key` must resolve to an instance whose
            parent service `service_key` matches. Omit for consultation-tier and intro-call catalog
            bookings that validate discounts against `services.id` only.
    DiscountRule:
      type: object
      additionalProperties: false
      required:
        - code
        - amount
        - is_percentage
        - currency_code
        - currency_symbol
      properties:
        code:
          type: string
        name:
          type: string
          nullable: true
        amount:
          type: number
        is_percentage:
          type: boolean
        currency_code:
          type: string
          nullable: true
        currency_symbol:
          type: string
          nullable: true
    DiscountValidationResponse:
      type: object
      additionalProperties: false
      required:
        - valid
        - is_valid
        - data
        - discount
      properties:
        valid:
          type: boolean
        is_valid:
          type: boolean
        data:
          oneOf:
            - $ref: "#/components/schemas/DiscountRule"
            - type: array
              items:
                $ref: "#/components/schemas/DiscountRule"
        discount:
          $ref: "#/components/schemas/DiscountRule"
    PublicReservationSubmissionRequest:
      type: object
      required:
        - attendeeName
        - attendeeEmail
        - paymentMethod
        - totalAmount
        - title
        - agreedToTermsAndConditions
        - serviceKey
      properties:
        attendeeName:
          type: string
          maxLength: 200
        attendeeEmail:
          type: string
          format: email
        attendeePhone:
          type: string
          maxLength: 40
          nullable: true
          description: >
            Required for most booking flows. Optional for `bookingSystem=intro-call-booking`
            (omit or send empty string when the caller does not collect a phone number).
        attendeeCountry:
          type: string
          minLength: 2
          maxLength: 2
          pattern: "^[A-Z]{2}$"
          nullable: true
          description: >
            Optional ISO 3166-1 alpha-2 region for parsing `attendeePhone`. When omitted, the
            API uses the configured default phone region (production default HK).
        serviceTier:
          type: string
          maxLength: 200
          description: >
            Optional; event flows without a tier selector may omit it. Flows that
            collect a service tier label (for example My Best Auntie or consultation)
            should send the selected label.
        paymentMethod:
          type: string
          maxLength: 100
          description: >
            Machine payment code. Accepted values include `fps_qr`, `bank_transfer`, `stripe`,
            and `free` (zero-total booking after discounts). The API rejects `free` when
            `totalAmount` is not 0, rejects `totalAmount` 0 unless `paymentMethod` is `free`,
            and normalizes `reservationPendingUntilPaymentConfirmed` to false when `paymentMethod`
            is `free`. Omit `stripePaymentIntentId` and `fpsQrImageDataUrl` for free bookings.
        totalAmount:
          type: number
          minimum: 0
          maximum: 1000000
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: >
            ISO 4217 sale currency for enrollment and billing (defaults to HKD when omitted).
        billToKind:
          type: string
          enum: [contact, family, organization]
          description: >
            Optional AR bill-to override; defaults to contact (attendee). When `family` or
            `organization`, send the matching id field.
        billToContactId:
          type: string
          format: uuid
          nullable: true
        billToFamilyId:
          type: string
          format: uuid
          nullable: true
        billToOrganizationId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
          maxLength: 200
          description: Customer-visible booking title (shown in confirmation email and subject).
        stripePaymentIntentId:
          type: string
          maxLength: 200
          description: Required when payment method implies Stripe; PaymentIntent id.
          pattern: '^pi_[A-Za-z0-9]+$'
        scheduleDate:
          type: string
          maxLength: 200
        scheduleTime:
          type: string
          maxLength: 200
        interestedTopics:
          type: string
          maxLength: 1000
        commentsFieldLabel:
          type: string
          maxLength: 200
          description: >
            Label for the free-text question field as shown to the user. Included in the
            internal sales recap email next to their answer.
        consultationWritingFocusLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: writing focus title for confirmation and sales recap.
        consultationLevelLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: level title for confirmation and sales recap.
        cohortDate:
          type: string
          maxLength: 100
          description: Optional cohort or session date label (YYYY-MM-DD or display string).
        discountCode:
          type: string
          maxLength: 100
        serviceInstanceSlug:
          type: string
          nullable: true
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          maxLength: 128
          description: >
            Public `service_instances.slug` for the booked cohort/instance (`event-booking` and
            `my-best-auntie-booking`). **Required** for those flows together with `serviceKey`.
            For `consultation-booking` and `intro-call-booking`, omit this field or send a legacy
            template slug for compatibility; the server resolves catalog rows by `serviceKey` only
            and ignores `serviceInstanceSlug` when present (logged at debug level).
        serviceInstanceCohort:
          type: string
          maxLength: 200
          description: >
            Optional human-readable cohort label for the booked instance (for example the MBA
            cohort title shown in the booking UI). Included in the internal sales recap and may
            be stored on the enrollment lead event metadata; not used for booking identity.
        marketingOptIn:
          type: boolean
          default: false
        locale:
          type: string
          enum:
            - en
            - zh-CN
            - zh-HK
        serviceKey:
          type: string
          maxLength: 80
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Service public key. For `event-booking` and `my-best-auntie-booking`, pair with
            `serviceInstanceSlug` to resolve the scheduled instance. For `consultation-booking`,
            must be `family-consultation-essentials` or `family-consultation-deep-dive` (each tier is a
            catalog `services` row). For `intro-call-booking`, must be `intro-call`.
        bookingSystem:
          type: string
          maxLength: 100
          enum:
            - consultation-booking
            - event-booking
            - my-best-auntie-booking
            - intro-call-booking
          description: >
            Optional booking flow code. When set, must be exactly one of the enum values
            (case-insensitive on input; stored lowercased). Drives confirmation email formatting
            (schedule/details). For `event-booking` and `my-best-auntie-booking`, booking identity
            uses `serviceKey` + `serviceInstanceSlug`. For `consultation-booking`, identity uses
            `serviceKey` only (`family-consultation-essentials`, `family-consultation-deep-dive`).
            Discrete slots come from `/v1/calendar/availability?purpose=consultation_booking`; reservations
            must use grid-aligned start times (09:00 or 14:00 local on Mon–Fri).
            `intro-call-booking` requires `serviceKey=intro-call`, `totalAmount=0`, `paymentMethod=free`
            (or omit payment method to default to free), and `primarySessionStartIso` /
            `primarySessionEndIso` for a valid 15-minute slot at a 30-minute-aligned start time
            (Asia/Hong_Kong office-hours template; end 15 minutes after start).
            Discrete slots come from `/v1/calendar/availability?purpose=intro_call_booking`.
            Successful submissions allocate a new booking-specific service instance with session slots
            and enrollment attached; concurrent bookings race on `(purpose_service_id, starts_at)` where
            `purpose_service_id` is the intro-call or tier consultation `services.id`.
        marketingAttribution:
          type: object
          additionalProperties: false
          properties:
            utm_source:
              type: string
              maxLength: 100
            utm_medium:
              type: string
              maxLength: 100
            utm_campaign:
              type: string
              maxLength: 200
            utm_content:
              type: string
              maxLength: 200
            referrer:
              type: string
              maxLength: 500
        locationName:
          type: string
          maxLength: 200
        locationAddress:
          type: string
          maxLength: 300
        locationUrl:
          type: string
          maxLength: 500
          format: uri
        primarySessionStartIso:
          type: string
          maxLength: 50
          description: >
            Required when `bookingSystem` is `consultation-booking` (home-visit slot start in
            ISO-8601). Interpreted in `CALENDAR_BLOCKERS_WALL_TIMEZONE` (default `Asia/Hong_Kong`):
            must align to the bookable grid from `/v1/calendar/availability?purpose=consultation_booking`
            (Mon–Fri local starts at exactly 09:00 or 14:00). Local hours **12–13** (inclusive) remain invalid.
            Each `sessionSlots[].startIso` (when present) uses the same grid rule with field `sessionSlots[n].startIso`.
            Must not fall on a blocked half-day for `purpose=consultation_booking` after grid alignment checks.
        primarySessionEndIso:
          type: string
          maxLength: 50
        sessionSlots:
          type: array
          description: >
            Optional list of session parts (ISO start/end per slot) for multi-line schedule
            in confirmation email (e.g. MBA multi-session, multi-part events).
          items:
            type: object
            required:
              - startIso
            properties:
              startIso:
                type: string
                maxLength: 50
                description: >
                  Same local half-day classification as `primarySessionStartIso` when
                  `bookingSystem` is `consultation-booking` (morning before noon, afternoon from 2pm;
                  noon–1pm local invalid).
              endIso:
                type: string
                maxLength: 50
        fpsQrImageDataUrl:
          type: string
          maxLength: 120000
          description: >
            Optional PNG data URL for FPS QR when payment is pending (fps_qr).
        reservationPendingUntilPaymentConfirmed:
          type: boolean
        agreedToTermsAndConditions:
          type: boolean
    ReservationPaymentIntentRequest:
      type: object
      required:
        - service_tier
        - cohort_date
        - price
      properties:
        service_tier:
          type: string
          maxLength: 200
          description: >
            Selected service tier label for the booking (Stripe PaymentIntent metadata).
        cohort_date:
          type: string
          maxLength: 100
        discount_code:
          type: string
          maxLength: 100
        service_key:
          type: string
          maxLength: 100
          description: >
            Optional public service slug for Stripe `metadata.service_key` (e.g.
            `my-best-auntie-training-course`); not used for discount scope validation on this endpoint.
        cohort_id:
          type: string
          maxLength: 120
          description: >
            Optional cohort identifier for Stripe `metadata.cohort_id` (e.g. content
            cohort key).
        price:
          type: number
          minimum: 0
          maximum: 1000000
    ReservationPaymentIntentResponse:
      type: object
      required:
        - payment_intent_id
        - client_secret
      properties:
        payment_intent_id:
          type: string
        client_secret:
          type: string
    ContactUsSubmissionRequest:
      type: object
      required:
        - first_name
        - email_address
        - signup_intent
      properties:
        first_name:
          type: string
          maxLength: 100
        email_address:
          type: string
          format: email
          maxLength: 320
        phone_number:
          type: string
          maxLength: 40
        phone_country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: "^[A-Z]{2}$"
          nullable: true
          description: >
            Optional ISO 3166-1 alpha-2 region for parsing `phone_number`. When omitted, the
            API uses the configured default phone region (production default HK).
        message:
          type: string
          maxLength: 2000
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, subscribe the contact to marketing (Mailchimp) with a flow-specific tag.
        signup_intent:
          type: string
          description: >
            Distinguishes contact-us submissions for Mailchimp tagging and Aurora `source_detail`.
            For community_newsletter and event_notification, the matching public-www-* tag is used when
            marketing_opt_in is true. Intents community_newsletter and event_notification skip the SES
            contact confirmation email. contact_inquiry creates a sales lead and triggers SUPPORT_EMAIL
            notification when configured.
          enum:
            - contact_inquiry
            - community_newsletter
            - event_notification
        locale:
          type: string
          description: Public website route locale for SES confirmation template selection (falls back to Accept-Language when omitted).
          enum:
            - en
            - zh-CN
            - zh-HK
    MediaRequestSubmissionRequest:
      type: object
      required:
        - first_name
        - email
      properties:
        first_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
          maxLength: 320
        resource_key:
          type: string
          maxLength: 200
          description: Optional free-resource identifier used for downstream CRM tagging.
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, trigger the shared welcome marketing journey after subscribe (when configured).
        locale:
          type: string
          description: Public website locale for SES template selection.
          enum:
            - en
            - zh-CN
            - zh-HK
    MailchimpWebhookRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [subscribe, unsubscribe, cleaned, profile, upemail]
        "data[email]":
          type: string
          format: email
          maxLength: 320
        "data[new_email]":
          type: string
          format: email
          maxLength: 320
        "data[id]":
          type: string
          maxLength: 64
    FormAnswerPutRequest:
      type: object
      required:
        - sessionId
        - questionId
        - questionType
      properties:
        formSlug:
          type: string
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          description: Optional; when present must match the `{form_slug}` path segment.
        sessionId:
          type: string
          format: uuid
          description: Client-generated session id (stored in browser session storage).
        questionId:
          type: string
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        questionType:
          type: string
          enum:
            - select
            - multiselect
            - rating
            - segmented
            - consent
            - text
            - email
        selectedOption:
          type: string
          maxLength: 500
          description: Selected option label for `select` and `segmented` questions.
        selectedOptions:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 500
          description: Selected option labels for `multiselect` questions.
        ratingValue:
          type: integer
          minimum: 1
          maximum: 10
          description: Numeric rating for `rating` questions.
        booleanAnswer:
          type: boolean
          description: Consent checkbox value for `consent` questions.
        freeText:
          type: string
          maxLength: 4000
          description: Response body for `text`, `email`, and optional `consent` follow-up.
    FormAnswerPutResponse:
      type: object
      required:
        - formSlug
        - sessionId
        - questionId
        - updatedAt
      properties:
        formSlug:
          type: string
        sessionId:
          type: string
          format: uuid
        questionId:
          type: string
        updatedAt:
          type: string
          format: date-time
          description: UTC timestamp when the answer row was last written.
    PollAnswerPutRequest:
      type: object
      required:
        - sessionId
        - questionId
        - questionType
      properties:
        pollSlug:
          type: string
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          description: Optional; when present must match the `{poll_slug}` path segment.
        sessionId:
          type: string
          format: uuid
          description: Client-generated session id (stored in browser session storage).
        questionId:
          type: string
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
        questionType:
          type: string
          enum: [select, multiselect, truefalse, text, email]
        selectedOption:
          type: string
          maxLength: 500
          description: Selected option label for `select` questions.
        selectedOptions:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: string
            maxLength: 500
          description: Selected option labels for `multiselect` questions.
        booleanAnswer:
          type: boolean
          description: Respondent answer for `truefalse` questions.
        freeText:
          type: string
          maxLength: 4000
          description: Response body for `text` and `email` questions.
    PollAnswerPutResponse:
      type: object
      required:
        - pollSlug
        - sessionId
        - questionId
        - updatedAt
      properties:
        pollSlug:
          type: string
        sessionId:
          type: string
          format: uuid
        questionId:
          type: string
        updatedAt:
          type: string
          format: date-time
          description: UTC timestamp when the answer row was last written.
    PollSessionAnswerItem:
      type: object
      required:
        - questionId
        - questionType
      properties:
        pollSlug:
          type: string
        sessionId:
          type: string
          format: uuid
        questionId:
          type: string
        questionType:
          type: string
          enum: [select, multiselect, truefalse, text, email]
        selectedOption:
          type: string
        selectedOptions:
          type: array
          items:
            type: string
        booleanAnswer:
          type: boolean
        freeText:
          type: string
[...]
